* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
}

#content-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

button {
    border: none;
    background-color: none;
}

#heading {
    background-color: #36322d;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    font-size: 45px;
}

#container {
    display: flex;
    margin: auto auto;
    gap: 150px;
    align-items: center;
}

#tool-box {
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

/*canvas sizer dividers*/

#canvas-sizer {
    margin: 15px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
}

.canvas-input {
    display: flex;
    gap: 15px;
}

input.slider {
    -webkit-appearance: none;
    background: #36322d;
    height: 10px;
    width: 225px;
    border-radius: 20px;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background: #ffffff;
    border: 1px solid black;
    cursor: pointer;
}

div.displayed-value {
    width: 80px;
    text-align: center;
}

.create-btn,
.clear,
.toggle-grid-lines,
.fill-canvas {
    background-color: #36322d;
    font-size: 14px;
    color: white;
    padding: 5px 8px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    border: 1px solid white;
}

.create-btn:hover,
.clear:hover,
.toggle-grid-lines:hover,
.fill-canvas:hover {
    background-color: white;
    color: black;
    border: 1px solid #36322d;
}

/*-----------------*/

#tool-choices {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;

    
}

#tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 13px;
    height: 130px;
}

#color-picker {
    border: none;
    background-color: white;
    height: 80px;
    width: 80px;
    border: 2px solid #36322d; 
    padding: 2px 4px;
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
}

#color-picker:hover,
#color-picker:focus {
    background-color: black;
}

#eraser img,
#shader img {
    width: 80px;
    height: auto;
    transform: rotate(-45deg);
}

#eraser, 
#shader {
    padding: 0px;
    margin: 0px;
    background-color: white;
    max-width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transition: 0.2s ease-in-out;
    border: 2px solid white;
}

#eraser:hover,
#eraser:focus, 
#shader:hover,
#shader:focus {
    border: 2px solid #8a8176;
}

#shader {
    transform: rotate(50deg);
}

/*-----------------*/
#grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    min-width: 700px;
    min-height: 700px;
    box-shadow: 0px 0px 10px 5px #959595;
    background-color: #959595;
}

.grid-item {
    flex: 1;
    background-color: white;

}
/*----------------------*/

#extra-buttons {
    display: flex;
    gap: 15px;
}

.toggle-grid-lines,
.fill-canvas {
    filter: invert(100%);
    background-color: black;
}

/*----------------------*/

#footer {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    background-color: #36322d;
    height: 30px;
}

a {
    color: #c4bdb5;

}

#credits {
    color: #c4bdb5;
    margin-right: auto;
}

#random-container {
    height: auto;
    margin-right: auto;
    margin-left: 10px;
}

#random {
    border: 0.5px solid rgba(0, 0, 0, 0.26); 
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    transition: 0.25s ease-in-out;
    opacity: 0;
}

#random:hover,
#random:focus {
    opacity: 1;
    animation: rainbow-bg 2.5s linear;
	animation-iteration-count: infinite;
}

@keyframes rainbow-bg{
    100%,0%{
        background-color: rgb(255, 0, 0);
    }
    8%{
        background-color: rgb(255,127,0);
    }
    16%{
        background-color: rgb(255,255,0);
    }
    25%{
        background-color: rgb(127,255,0);
    }
    50%{
        background-color: rgb(0,255,255);
    }
    58%{
        background-color: rgb(0,127,255);
    }
    75%{
        background-color: rgb(127,0,255);
    }
    83%{
        background-color: rgb(255,0,255);
    }
    91%{
        background-color: rgb(255,0,127);
    }
}