* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(199, 168, 136);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#heading {
    background-color: #36322d;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75px;
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
}

#sketch-pad {
    display: flex;
    align-items: center;
    gap: 15px;
}

#grid-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-width: 800px;
    min-height: 800px;
    border: 5px solid black;
}

.grid-item {
    flex: 1;
    background-color: white;
}


